APP_NAME=twitter-clone
APP_HOST=127.0.0.1
APP_PORT=5000
APP_DOMAIN=localhost
DEBUG=false

ACCESS_TOKEN_SECRET=secret
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_SECRET=secret
# 168h -> 7 days
REFRESH_TOKEN_DURATION=168h

DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=twitterclone

REDIS_ADDR=127.0.0.1:6379
REDIS_PASSWORD=